    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
    @font-face {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        src: local(''), url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
    @font-face {
        font-family: 'Rouge Script';
        font-style: normal;
        font-weight: 400;
        src: local('Rouge Script'), local('RougeScript-Regular'), url('../fonts/rouge-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rouge-script-v8-latin-regular.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
    @font-face {
        font-family: 'Crimson Text';
        font-style: italic;
        font-weight: 400;
        src: local('Crimson Text Italic'), local('CrimsonText-Italic'), url('../fonts/crimson-text-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/crimson-text-v10-latin-italic.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
     :root {
        --main-font: 'Montserrat', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    
    html {
        box-sizing: border-box;
        font-size: 16px;
    }
    
    body {
        font-family: var(--main-font);
        line-height: 1.2;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    *::placeholder {
        text-transform: uppercase;
        font-family: var(--main-font);
        font-weight: 700;
        color: #bbbbbb;
    }
    
    .container {
        max-width: 940px;
        margin: 0 auto;
    }
    
    .header {
        padding-top: 50px;
    }
    
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    
    .logo {
        font-family: 'Rouge Script';
        font-weight: 400;
        font-size: 26px;
        line-height: 41px;
        letter-spacing: 1.3px;
        color: #fed136;
        cursor: pointer;
    }
    
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
    
    .menu-item:not(:last-of-type) {
        margin-right: 40px;
    }
    
    .menu-item-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 41px;
        color: #222222;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.2s linear;
    }
    
    .menu-item-link:hover,
    .menu-item-link:focus {
        color: #fed136;
    }
    /* SECTION SERVICES */
    
    .section-services {
        padding: 102px 0 120px;
    }
    
    .section-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 75px;
        letter-spacing: -1px;
        color: #222222;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    
    .section_description {
        font-family: 'Crimson Text', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        color: #777777;
        text-align: center;
        margin-bottom: 78px;
    }
    
    .services-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .services-item {
        flex-basis: 290px;
        text-align: center;
    }
    
    .services-item::before {
        content: "";
        display: block;
        width: 72px;
        height: 72px;
        border: 3px solid #fed136;
        border-radius: 50%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .icon-basket::before {
        background-image: url(../images/icons/Icon-Basket.png);
    }
    
    .icon-laptop::before {
        background-image: url(../images/icons/Icon-Laptop.png);
    }
    
    .icon-locked::before {
        background-image: url(../images/icons/Icon-Locked.png);
    }
    
    .services-item-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 75px;
        letter-spacing: -0.45px;
        color: #222222;
    }
    
    .services-item-description {
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.35px;
        color: #777777;
    }
    /* SECTION CONTACTS */
    
    .section-contacts {
        background-color: #222222;
        background-image: url(../images/map.png);
        background-repeat: no-repeat;
        background-position: right;
        padding: 92px 0 114px;
    }
    
    .section-contacts .section-title {
        color: #fff;
    }
    
    .user-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .user-data-input-box,
    .user-message {
        flex-basis: 456px;
    }
    
    .user-data-input {
        height: 52px;
        width: 100%;
    }
    
    .user-data-input:not(:last-of-type) {
        margin-bottom: 28px;
    }
    
    .user-data-input,
    .user-message {
        padding-left: 20px;
        border: 1px solid #cccccc;
        border-radius: 2px;
    }
    
    .user-message {
        height: 212px;
        padding-top: 18px;
        resize: none;
    }
    
    .user-data-input:required:focus,
    .user-message:required:focus {
        outline: none;
    }
    
    .user-data-input:required:focus:valid,
    .user-message:required:focus:valid {
        border: 1px solid green;
    }
    
    .user-data-input:required:focus:invalid:not(:placeholder-shown),
    .user-message:required:focus:invalid:not(:placeholder-shown) {
        border: 1px solid red;
    }
    
    .send {
        display: block;
        margin: 0 auto;
        width: 240px;
        height: 66px;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        background-color: #fed136;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 18px;
        color: #fff;
    }